html,
body {
  margin: 0;
  min-height: 100vh;
}

body {
  padding: 0;
  
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img-png/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  
  min-height: 100vh;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img-png/slider-2.png");
}

.site-wrapper::after {
  background-image: url("../img-png/slider-3.png");
}

.container-slider {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  height: 100px;
}

.site-navigation,
.user-navigation,
.catalog-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.main-menu {
  line-height: 18px;
  font-weight: 700;
} 

.main-menu > a:hover,
.main-menu > a:focus {
  color: #333333;
  background-color: #f7f6f3;
}

.main-menu > a:active {
  color: #333333;
  background-color: #ededed;
}

.catalog-menu a {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  background-color: #f8f7f4;
}

.catalog-menu li:first-of-type {
  font-weight: 700;
}

.catalog-menu a:hover,
.catalog-menu a:focus{
  background-color: #fbded7;
}

.catalog-menu a:active {
  background-color: #d07058;
}

.site-navigation-current > a{
  color: #ffffff;
  background-color: #d07058;
}

.site-navigation-current > a:hover,
.site-navigation-current > a:focus {
  color: #ffffff;
  background-color: #d07058;
}

.user-navigation a{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
}

.search a:hover,
.search a:focus,
.login-link:hover,
.login-link:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.search a:hover path,
.search a:focus path {
  fill: #000000;
}

.basket-active {
  color: #323232;
  background-color: #f7f6f3;
}

.basket-active a {
  color: #323232;
  background-color: #f7f6f3;
}

.show-hover:hover,
.show-hover:focus,
.show-hover:active {
  color: #e84d37;
}

.basket-table {
  color: #323232;
  background-color: #f8f7f4;
  font-size: 13px;
  line-height: 16px;
}

.basket-table-price {
  color: #999999;
}

.basket-table-sum {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-navigation nav {
  display: flex;
  width: 853px; 
}

.site-navigation {
  display: flex;
}

.site-navigation .main-menu {
  margin-right: 29px;
  /*возможно временно*/
  
  margin-top: 23px;
}

.user-navigation {
  display: flex;
  width: 267px;
  justify-content: space-between;/*возможно временно*/
  align-items: flex-start;
  margin-top: 23px;
}

.search a {
  display: block;
  padding: 6px 8px;
  border-radius: 50%;
}

.login-link {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 45px;
  padding-right: 15px;
  border-radius: 20px;
}

.login-link svg {
  position: absolute;
  top: 6px;
  left: 15px;
}

.login-link:hover g{
  fill: #000;
}

.basket-disabled a {
  position: relative;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 45px;
  padding-right: 34px;
  border-radius: 20px;
}

.basket-disabled a::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
  top: 6px;
  left: 15px;
  background-image: url(../img-svg/basket.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-form,
.login-link-form {
  color: #323232;
  background-color: #f8f7f4;
}

.btn {
  display: inline-block;
  padding: 12px 44px;
  
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  
  background-color: #e84d37;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
  
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background-color: #f07b64;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
}

.btn:active { 
  background-color: #db543a;
  background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(172, 16, 0, 1);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.login-link-form a {
  color: #323232;
}

.tel {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
}

.tel b {
  font-size: 22px;
  line-height: 24px;
}

.slide {
  display: none;
}

.slider {
  position: relative;
  
  margin-bottom: 40px;
  padding-top: 321px;
  
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  
  vertical-align: top;
  
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-btn {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img-png/slider-1.png")
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img-png/slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img-png/slider-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/*.slider {
  margin-bottom: 40px;
}

*/
.promo {
   margin-bottom: 40px;
}

.promo ul {
  list-style: none;
}

.promo-item {
  box-sizing: border-box;
  width: 560px; 
  padding: 15px 21px 22px 19px;
  border-radius: 15px;
}

/*TODO может быть увеличить размер картинки, чтобы не появлялся фон при переполнении...?*/

.promo-item:nth-of-type(1) {
  background-color: #761a2d;
  background-image: url("../img-png/raspberry.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.promo-item:nth-of-type(2) {
  background-color: #492e21;
  background-image: url("../img-png/choco.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.promo-item h3{
  margin: 0;
  margin-bottom: 14px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700; 
}

.promo-item p{
  margin: 0;
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700; 
}

.promo-item .promo-btn {
  float: right;
  padding: 11px 22px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700; 
}

.promo-item .promo-btn:hover,
.promo-item .promo-btn:active {
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.promo-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.catalog-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  flex-basis: 267px;
  position: relative;
  margin-bottom: 45px;
}

.catalog-item figure {
  margin: 0;
  padding: 0;
}

.catalog-item figcaption {
  font-weight: 500;
  text-align: center;
}

.catalog-item p {
  position: absolute;
  margin: 0;
  top: 210px;
  left: 0;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700; 
}

.catalog-item span {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700; 
}

.catalog-btn {
  padding-left: 15px;
  padding-right: 15px;
}

.catalog-item:hover,
.catalog-item:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-item .btn-hidden {
  display: none;
}

.catalog-item:hover .btn-hidden,
.catalog-item:focus .btn-hidden {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
}

.features {
  color: #323232;
  background-color: #ede1c5;
  background-image: url("../img-jpg/waffle.jpg");
  background-repeat: repeat;
  background-position: top center;
  margin-bottom: 40px;
  box-sizing: border-box;
  padding: 22px 30px 28px 20px;
  border-radius: 15px;
}

.features > p {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features > ul {
  list-style: none;
  margin: 0;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  flex-basis: 545px;
  padding-right: 20px;
  position: relative;
} 

.features-item:nth-child(2n) {
  flex-basis: 530px;
  padding-right: 0px;
}

.features-text {
  margin: 0;
  margin-top: 20px;
  padding-left: 59px;
}

.features-item::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 7px;
  left: 0px;
  background-image: url(../img-png/features_sprites.png);
  background-repeat: no-repeat;
}

.features-item:nth-of-type(1)::after {
  background-position: -10px -10px;
}

.features-item:nth-of-type(2)::after {
  background-position: -10px -79px;
}

.features-item:nth-of-type(3)::after {
  background-position: -79px -79px;
}

.features-item:nth-of-type(4)::after {
  background-position: -79px -10px;
}

.blog-spam {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog {
  width: 560px;
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img-png/strawberry.png");
  background-repeat: no-repeat;
  background-position: top center;
  box-sizing: border-box;
  padding: 23px 250px 25px 19px;
  min-height: 220px;
  border-radius: 15px;
}

.blog p {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.blog a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
}

.spam {
  width: 560px;
  color: #5a5a5a;
  background-color: #f8f7f4;
  background-image: url("../img-svg/spam.svg");
  background-repeat: no-repeat;
  background-position: top center;
  box-sizing: border-box;
  padding: 5px 6px;
  border-radius: 15px;
}

.spam-wrapper {
  background-color: #f8f7f4;
  border-radius: 15px;
  padding: 30px 16px 30px 20px; 
}

.spam-text {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.spam input[type="email"] {
  box-sizing: border-box;
  width: 370px;
  padding: 12px 15px 13px 15px;
  border: 2px solid #d3d3d2;
  border-radius: 5px;
}

.spam-btn {
  margin-left: 10px;
  padding: 10px 18px 11px 18px;
}
  /* Разобраться
  background-image: repeating-linear-gradient(#f8f7f4 10px, #92cdff 10px, #f8f7f4 20px, #fe9e90 20px, #f8f7f4 30px);
  */

.container-large {
  width: 1200px;
  margin: 0 auto;
}

.contact {
  color: #323232;
  background-color: #fefefe;
}

.contact p {
  font-size: 14px;
  line-height: 20px;
}

.contact b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.feedback-form {
  color: #323232;
  background-color: #f8f7f4;
}

.feedback-form p {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

/*стилизация особенностей страницы каталога Сливочное*/
.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

.fat-block,
.filler-block {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-filter {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
}

.btn-filter:hover,
.btn-filter:focus {
  color: #323232;
  background-color: #fbfcfb;
}

.btn-filter:active {
  color: #323232;
  background-color: #eaeaea;
}

.filter .sort {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter label,
.filter legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.pagination-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.pagination-item {
  padding: 10px;
}

.pagination-item a {
  color: #ffffff;
  font-weight: 500;
}

.pagination-item:hover:not(.pagination-item-curent),
.pagination-item:focus:not(.pagination-item-curent) {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item:active a {
  color: #323232;
}

.pagination-item-curent{
  color: #323232;
  background-color: #ffffff;
}

.pagination-item-curent a{
  color: #323232;
}

/*окончание стилизации особенностей страницы каталога Сливочное*/
.footer-wrapper {
  display: flex;
  justify-content: space-between
}

.footer-social {
  display: flex;
  margin: 0;
  margin-top: 35px;
  padding: 0;
  list-style: none;
  width: 267px;
}

.social-item a {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-item:nth-child(1) a {
  background-image: url(../img-svg/twit.svg);
} 

.social-item:nth-child(2) a {
  background-image: url(../img-svg/instagram.svg);
} 

.social-item:nth-child(3) a {
  background-image: url(../img-svg/fb.svg);
} 

.social-item:nth-child(4) a {
  background-image: url(../img-svg/vk.svg);
} 

.social-item a:hover,
.social-item a:focus,
.social-item a:active {
  border-color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.footer-menu {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
  width: 370px;
}

.footer-menu a {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
}

.footer-menu li {
  flex-basis: 170px;
}

.footer-menu li:nth-of-type(1){
  font-weight: 700;
}

.footer-menu li:nth-of-type(1)::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  left: 5px;
  top: 5px;
  background-image: url(../img-svg/heart.svg);
}

.footer-menu li:nth-of-type(2n-1){
  padding-left: 30px;
}

.show-hover-white:hover,
.show-hover-white:focus,
.show-hover-white:active {
  color: #ffbc9e;
}

.footer-copyright {
  margin-top: 18px;
  color: #fefefe;
  font-size: 12px;
  line-height: 18px;
  width: 190px;
}

.footer-copyright p {
  margin: 0px;
  padding: 0px;
}

.footer-copyright a {
  color: #fefefe;
}