html,
body {
  margin: 0;
  min-height: 100vh;
}

body {
  padding: 0;
  
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 12px 44px;
  
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  
  background-color: #e84d37;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
  
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background-color: #f07b64;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
}


.btn:active { 
  background-color: #db543a;
  background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(172, 16, 0, 1);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img-png/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  
  min-height: 100vh;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img-png/slider-2.png");
}

.site-wrapper::after {
  background-image: url("../img-png/slider-3.png");
}

.main-header {
  min-height: 90px;
  position: relative;
  padding-bottom: 40px;
}

.logo-navigation {
  margin-top: 10px;
}

.site-navigation,
.user-navigation,
.catalog-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}


.site-navigation{
  margin-top: 30px;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.main-menu:first-child {
  position: relative;
  line-height: 18px;
  font-weight: 700;
} 

.main-menu > a {
  padding: 7px 14px;
  border-radius: 20px;
}

.main-menu > a:hover,
.main-menu > a:focus,
.main-menu:hover .main-menu-catalog {
  color: #333333;
  background-color: #f7f6f3;
}

.main-menu > a:active {
  color: #333333;
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
}

.catalog-menu {
  display: none;
  position: absolute;
  z-index: 1;
  top: 30px;
  width: 143px;
  height: 171px;
  background-color: #f8f7f4;
  border-radius: 5px; 
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-menu-new:first-of-type a {
  font-weight: 700;
}

.catalog-menu-new:first-of-type::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 39px;
  height: 1px;
  width: 128px;
  background-color: #d1d0ce;
}

.catalog-menu a {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  box-sizing: border-box;
  height: 28px;
  font-weight: 400;
  padding: 5px 20px 5px 21px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.catalog-menu a:hover {
  background-color: #fbded7;
}

.catalog-menu a:active {
  background-color: #f6b5a5;
}

.main-menu:hover .catalog-menu,
.main-menu:focus .catalog-menu {
  display: block;
}

.site-navigation-current > a{
  color: #ffffff;
  background-color: #d07058;
}

.site-navigation-current > a:hover,
.site-navigation-current > a:focus {
  color: #ffffff;
  background-color: #d07058;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 267px;
  justify-content: space-between;/*возможно временно*/
  align-items: flex-start;
  margin-top: 23px;
}

.user-navigation a{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
}

.underline {
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.show-hover:hover,
.show-hover:focus,
.show-hover:active {
  color: #e84d37;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-navigation nav {
  display: flex;
  flex-wrap: wrap;
  width: 853px; 
}

.site-navigation {
  display: flex;
}

.search-item {
  position: relative;
}

.search-item a {
  display: block;
  padding: 6px 8px;
  border-radius: 50%;
}

.search-item a:hover,
.search-item a:focus,
.login-link:hover,
.login-link:focus,
.login-link-item:hover .login-link,
.search-item:hover a {
  color: #323232;
  background-color: #f8f7f4;
}

.search-item a:hover path,
.search-item a:focus path,
.search-item:hover path,
.search-item:focus path {
  fill: #000000;
}

.login-link-item {
  position: relative;
}

.login-link {
  position: relative;
  display: block;
  margin-right: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 45px;
  padding-right: 15px;
  border-radius: 20px;
}

.login-link svg {
  position: absolute;
  top: 6px;
  left: 15px;
}

.login-link:hover g,
.login-link:focus g,
.login-link-item:hover g,
.login-link-item:focus g {
  fill: #000;
}

.basket-disabled a {
  position: relative;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 45px;
  padding-right: 34px;
  border-radius: 20px;
}

.basket-disabled a::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
  top: 6px;
  left: 15px;
  background-image: url("../img-svg/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket-active {
  position: relative;
}

.basket-active > a {
  position: relative;
  display: block;
  padding: 8px 15px 8px 45px;
  border-radius: 20px;
  color: #323232;
  background-color: #f7f6f3;
  color: #323232;
  background-color: #f7f6f3;
}

.basket-active > a::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
  top: 6px;
  left: 15px;
  background-image: url("../img-svg/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket-table {
  display: none;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  width: 540px;
  height: 242px;
  padding: 8px 15px 21px 12px;
  margin: 5px;
  top: 30px;
  right: -5px;
  border-radius: 6px;
  
  color: #323232;
  background-color: #f8f7f4;
  font-size: 13px;
  line-height: 16px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.basket-active:hover .basket-table {
  display: block;
}

.close-btn-little {
  position: relative;
  width: 11px;
  height: 11px;
  border: none;
  background-color: transparent;
  margin-right: 9px;
}

.close-btn-little::before {
  content: "";
  width: 13px;
  height: 1px;
  position: absolute;
  top: 5px;
  left: 1px;
  background-color: #231f20;
  transform: rotate(45deg);
}

.close-btn-little::after {
  content: "";
  width: 13px;
  height: 1px;
  position: absolute;
  top: 5px;
  left: 1px;
  background-color: #231f20;
  transform: rotate(-45deg);
}

.basket-table-item:nth-child(2) {
  width: 43px;
  height: 33px;
  vertical-align: top;
  padding-top: 10px
}

.basket-table-item:nth-child(3) {
  box-sizing: border-box;
  width: 242px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 14px;
  vertical-align: baseline;
}

.basket-table-item:nth-child(4) {
  width: 120px;
  margin-right: 21px;
  padding-top: 20px;
  vertical-align: baseline;
}

.basket-table-item:nth-child(5) {
  padding-right: 16px;
  padding-top: 20px;
  vertical-align: baseline;
}

.basket-table-price {
  color: #999999;
}

.basket-table-sum {
  border-top: 1px solid #cacac7;
  text-align: right;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.basket-active .basket-table-btn {
  float: right;
  padding: 9px 15px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.search-form,
.login-link-form {
  z-index: 1;
  color: #323232;
  background-color: #f8f7f4;
}

.wrapper-form {
  padding: 5px;
}

.search-form {
  display: none;
  position: absolute;
  top: 35px;
  right: 0px;
  width: 341px;
  min-height: 84px;
  box-sizing: border-box;
  padding: 20px 15px;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.search-form input[type="search"] {
  padding: 9px 15px 10px 15px;
  width: 100%;
  border-radius: 10px;
  font: inherit;
  border: 1px solid #d3d3d2;
  font-size: 14px;
  line-height: 24px;
  color: #323232;
}

.search-form input[type="search"]:hover {
  -webkit-box-shadow: inset 0 0 0 1px #c7c6c5;
  box-shadow: inset 0 0 0 1px #c7c6c5;
  border-color: #c7c6c5;
}

.search-form input[type="search"]:active {
  -webkit-box-shadow: inset 0 0 0 1px #8fbdec;
  box-shadow: inset 0 0 0 1px #8fbdec;
  outline: none;
  border-color: #c7c6c5;
}

.search-form input[type="search"]::placeholder {
  color: #999999;
}

.search-item:hover .search-form,
.search-item:focus .search-form {
  display: block;
}

.login-link-form {
  display: none;
  position: absolute;
  box-sizing: border-box;
  width: 277px;
  min-height: 214px;
  top: 35px;
  right: 0;
  padding: 20px 17px 22px 19px;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.login-link-form input[type="email"],
.login-link-form input[type="password"] {
  margin-bottom: 20px;
  width: 240px;
  box-sizing: border-box;
  padding: 9px 15px;
  font: inherit;
  font-size: 14px;
  line-height: 24px;
  color: #323232; 
  border: 1px solid #d3d3d2;
  border-radius: 10px;
}

.login-link-form input[type="email"]::placeholder,
.login-link-form input[type="password"]::placeholder {
  color: #999999;
}

.login-link-form a {
  padding-left: 20px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  text-decoration: underline;
}

.login-link-item:hover .login-link-form,
.login-link-item:focus .login-link-form {
  display: block;
}

.login-link-btn {
  float: left;
  padding: 11px 25px 10px 25px;
}

.login-link-form input[type="email"]:hover,
.login-link-form input[type="password"]:hover {
  -webkit-box-shadow: inset 0 0 0 1px #c7c6c5;
  box-shadow: inset 0 0 0 1px #c7c6c5;
  border-color: #c7c6c5;
}

.login-link-form input[type="email"]:active,
.login-link-form input[type="password"]:active {
  -webkit-box-shadow: inset 0 0 0 1px #8fbdec;
  box-shadow: inset 0 0 0 1px #8fbdec;
  outline: none;
  border-color: #8fbdec;
}

.tel {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: -20px;
  right: 27px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
}

.tel b {
  display: block;
  font-size: 22px;
  line-height: 24px;
}

.slide {
  display: none;
}

.slider {
  position: relative;
  
  margin-bottom: 40px;
  padding-top: 303px;
  padding-left: 0px;
  padding-right: 0px;
  
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-controls {
  position: absolute;
  bottom: 23px;
  left: 0;
  z-index: 1;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  
  vertical-align: top;
  
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(248, 247, 244, 0.4);
}

.slider-btn {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  padding-right: 40px;
  padding-left: 40px;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img-png/slider-1.png")
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img-png/slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img-png/slider-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/*.slider {
  margin-bottom: 40px;
}

*/
.promo {
   margin-bottom: 36px;
}

.promo ul {
  list-style: none;
}

.promo-item {
  box-sizing: border-box;
  width: 560px; 
  padding: 15px 21px 22px 19px;
  border-radius: 15px;
}

/*TODO может быть увеличить размер картинки, чтобы не появлялся фон при переполнении...?*/

.promo-item:nth-of-type(1) {
  background-color: #761a2d;
  background-image: url("../img-png/raspberry.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.promo-item:nth-of-type(2) {
  background-color: #492e21;
  background-image: url("../img-png/choco.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.promo-item h3{
  margin: 0;
  margin-bottom: 14px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700; 
}

.promo-item p{
  margin: 0;
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700; 
}

.promo-item .promo-btn {
  float: right;
  padding: 11px 22px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700; 
}

.promo-item .promo-btn:hover,
.promo-item .promo-btn:active {
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);
  text-shadow: none;
}

.promo-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.container-catalog {
  width: 1174px;
  margin: 0 auto;
  padding: 0 13px;
}

.catalog-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.catalog-item {
  flex-basis: 267px;
  position: relative;
  margin-bottom: 40px;
  padding: 6px 13px 0px 13px;
}

.catalog-item figure {
  margin: 0;
  padding: 0;
}

.catalog-item figcaption {
  padding-top: 8px;
  font-weight: 500;
  text-align: center;
}

.catalog-list .hit::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  top: 0;
  left: 13;
  background-image: url("../img-svg/hit.svg");
}

.catalog-price {
  position: absolute;
  margin: 0;
  top: 210px;
  left: 13;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-price b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700; 
}

.catalog-price span {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700; 
}

.catalog-btn {
  padding-left: 15px;
  padding-right: 15px;
}

.catalog-item:hover,
.catalog-item:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.catalog-item .btn-hidden {
  display: none;
}

.catalog-item:hover .btn-hidden,
.catalog-item:focus .btn-hidden {
  display: block;
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.features {
  color: #323232;
  background-color: #ede1c5;
  background-image: url("../img-jpg/waffle.jpg");
  background-repeat: repeat;
  background-position: top center;
  margin-bottom: 40px;
  box-sizing: border-box;
  padding: 22px 30px 28px 20px;
  border-radius: 15px;
}

.features > p {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features > ul {
  list-style: none;
  margin: 0;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  flex-basis: 545px;
  padding-right: 20px;
  position: relative;
} 

.features-item:nth-child(2n) {
  flex-basis: 530px;
  padding-right: 0px;
}

.features-text {
  margin: 0;
  margin-top: 22px;
  padding-left: 57px;
}

.features-item::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 7px;
  left: 0px;
  background-image: url("../img-png/features_sprites.png");
  background-repeat: no-repeat;
}

.features-item:nth-of-type(1)::after {
  background-position: -10px -10px;
}

.features-item:nth-of-type(2)::after {
  background-position: -10px -79px;
}

.features-item:nth-of-type(3)::after {
  background-position: -79px -79px;
}

.features-item:nth-of-type(4)::after {
  background-position: -79px -10px;
}

.blog-spam {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog {
  width: 560px;
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img-png/strawberry.png");
  background-repeat: no-repeat;
  background-position: top center;
  box-sizing: border-box;
  padding: 23px 250px 25px 19px;
  min-height: 220px;
  border-radius: 15px;
}

.blog p {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.blog a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
}

.spam {
  width: 560px;
  color: #5a5a5a;
  background-color: #f8f7f4;
  background-image: url("../img-svg/spam.svg");
  background-repeat: no-repeat;
  background-position: top center;
  box-sizing: border-box;
  padding: 5px 6px;
  border-radius: 15px;
}

.spam-wrapper {
  background-color: #f8f7f4;
  border-radius: 15px;
  padding: 30px 16px 30px 20px; 
}

.spam-text {
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
}

.spam input[type="email"] {
  box-sizing: border-box;
  width: 370px;
  padding: 12px 15px 13px 13px;
  border: 2px solid #d3d3d2;
  border-radius: 5px;
}

.spam input[type="email"]:hover {
  -webkit-box-shadow: inset 0 0 0 1px #c7c6c5;
  box-shadow: inset 0 0 0 1px #c7c6c5;
  border-color: #c7c6c5;
}

.spam input[type="email"]:active {
  -webkit-box-shadow: inset 0 0 0 1px #8fbdec;
  box-shadow: inset 0 0 0 1px #8fbdec;
  border-color: #8fbdec;
  outline: none;
}

.spam-btn {
  margin-left: 6px;
  padding: 10px 18px 11px 15px;
}
  /* Разобраться
  background-image: repeating-linear-gradient(#f8f7f4 10px, #92cdff 10px, #f8f7f4 20px, #fe9e90 20px, #f8f7f4 30px);
  */

.map {
  position: relative;
}

.container-map {
  width: 1200px;
  margin: 0 auto;
}

.contact {
  position: absolute;
  right: 24px;
  top: 62px;
  box-sizing: border-box;
  width: 305px;
  height: 305px;
  padding: 30px 25px 30px 25px;
  color: #323232;
  background-color: #fefefe;
  border-radius: 15px;
}

.contact p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.contact b {
  padding: 0;
  margin: 0;
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contact .text-2 {
  padding-top: 15px;
  padding-bottom: 25px;
}

.contact-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 29px; 
}

/*стилизация особенностей страницы каталога Сливочное*/
.page-title {
  margin-top: 15px;
  margin-bottom: 30px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
}

.breadcrumbs a {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs li:not(:first-of-type) {
  position: relative;
  padding-left: 19px;
}

.breadcrumbs li:not(:first-of-type)::before {
  content: "\00BB";
  position: absolute;
  top: 0;
  left: 6px;
}

.filter-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 857px;
  margin-bottom: 15px;
}

.filter-row-sort {
  flex-basis: 194px;
}

.filter-row-price {
  flex-basis: 219px;
}

.filter-row-fat {
  flex-basis: 416px;
}

.filter .sort {
  height: 35px;
  box-sizing: border-box;
  margin-top: 5px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
  padding: 6px 35px 7px 15px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  background-image: url("../img-svg/icon-down%20white.svg");
  background-repeat: no-repeat;
  background-position: right 15px top 13px;
}

.filter .sort:hover {
  color: #000000;
  background-image: url("../img-svg/icon-down.svg");
}

.sort-title,
.fat-title,
.filler-title,
.price-title {
  margin: 0;
  margin-bottom: 7px;
  padding-left: 15px;
  
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.fat-block,
.filler-block {
  margin: 0;
  padding: 6px 0px 7px 15px;
  border-radius: 20px;
  
  background-color: rgba(255, 255, 255, 0.2);
}

.fat-block label,
.filler-block label {
  position: relative;
  padding-left: 32px;
  padding-right: 15px;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.range-block {
  position: relative;
  box-sizing: border-box;
  height: 36px;
  margin: 0;
  padding: 8px 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.range-block::before {
  content: "";
  position: absolute;
  width: 176px;
  height: 4px;
  top: 16px;
  left: 20px;
  background-color: #f8f7f4;
  opacity: 0.5;
}

.range-block::after {
  content: "";
  position: absolute;
  width: 85px;
  height: 4px;
  top: 16px;
  left: 52px;
  background-color: #f8f7f4;
  opacity: 1;
}

.range-block img {
  width: 20px;
  height: 23px;
}

.range-block img:nth-child(1) {
  padding-left: 13px;
}

.range-block img:nth-child(2) {
  padding-left: 78px;
}

.filter-row-fat input[type="radio"] + .radio-indicator {
  position: absolute;
  top: -3px;
  left: 0px;
  
  width: 14px;
  height: 14px;
  
  border: 4px solid #ffffff;
  border-radius: 50%;
  opacity: 0.8;
}

.filter-row-filler input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0px;
  
  width: 19px;
  height: 19px;
  
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.filter-row-fat input[type="radio"]:checked + .radio-indicator::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  top: 3px;
  left: 3px;
  border-radius: 50%;
}

.filter-row-filler input[type="checkbox"]:checked + .checkbox-indicator {
  border: 2px solid transparent;
}

/*TODO разобраться!!!*/

.filter-row-filler input[type="checkbox"]:disabled ~ span,
.filter-row-fat input[type="radio"]:disabled ~ span  {
  opacity: 0.4;
}

.filter-row-filler input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url("../img-svg/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: -2px;
  left: -2px;
}

.filter-row-filler {
  flex-basis: 702px;
}

.btn-filter {
  padding: 7px 26px 7px 26px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 20px;
}

.btn-filter:hover,
.btn-filter:focus {
  color: #323232;
  background-color: #fbfcfb;
}

.btn-filter:active {
  color: #323232;
  background-color: #eaeaea; 
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
  border: none;
  padding: 9px 28px 9px 28px;
}

.pagination-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.pagination-item {
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 50%;
}

.pagination-item a {
  color: #ffffff;
  font-weight: 500;
}

.pagination-item:hover:not(.pagination-item-curent),
.pagination-item:focus:not(.pagination-item-curent) {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item:active a {
  color: #323232;
}

.pagination-item-curent{
  color: #323232;
  background-color: #ffffff;
}

.pagination-item-curent a{
  color: #323232;
}

.pagination-control {
  padding: 10px;
  background-image: url("../img-png/paginator.png");
  background-repeat: no-repeat;
  background-position: center;
}

.pagination-control a {
  display: block;
  width: 25px;
  height: 25px;
}

.pagination-control.left {
  transform: rotate(180deg);
}

.pagination-control.disabled {
  opacity: 0.2;
}

/*окончание стилизации особенностей страницы каталога Сливочное*/
.footer-wrapper {
  display: flex;
  justify-content: space-between
}

.footer-social {
  display: flex;
  margin: 0;
  margin-top: 25px;
  padding: 0;
  list-style: none;
  width: 267px;
}

.social-item a {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-item:nth-child(1) a {
  background-image: url("../img-svg/twit.svg");
} 

.social-item:nth-child(2) a {
  background-image: url("../img-svg/instagram.svg");
} 

.social-item:nth-child(3) a {
  background-image: url("../img-svg/fb.svg");
} 

.social-item:nth-child(4) a {
  background-image: url("../img-svg/vk.svg");
} 

.social-item a:hover,
.social-item a:focus,
.social-item a:active {
  border-color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.footer-menu {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 70px;
  padding: 0;
  list-style: none;
  width: 370px;
}

.footer-menu a {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
}

.footer-menu li {
  box-sizing: border-box;
  flex-basis: 170px;
}

.footer-menu li:nth-of-type(1){
  font-weight: 700;
}

.footer-menu li:nth-of-type(1)::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  left: 5px;
  top: 5px;
  background-image: url("../img-svg/heart.svg");
}

.footer-menu li:nth-of-type(2n-1){
  width: 100px;
  padding-left: 30px;
}

.show-hover-white:hover,
.show-hover-white:focus,
.show-hover-white:active {
  color: #ffbc9e;
}

.footer-copyright {
  margin-top: 7px;
  color: #fefefe;
  font-size: 12px;
  line-height: 18px;
  width: 190px;
}

.footer-copyright p {
  margin: 0px;
  padding: 0px;
}

.footer-copyright a {
  color: #fefefe;
}

.modal-feedback {
  display: none;
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -221px;
  margin-left: -239px;
  width: 478px;
  min-height: 442px;
  box-sizing: border-box;
  padding: 15px 25px 27px 24px;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 10px;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal-overlay {
  display: none;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-show {
  display: block;
  
  animation: bounce 0.6s;
}

.modal-show-overlay {
  display: block;
}

.feedback-form p {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  box-sizing: border-box;
  margin: 0;
  margin-top: 20px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  font: inherit;
  line-height: 24px;
  color: #323232;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  width: 267px;
  padding: 10px 15px 8px 15px;
}

.feedback-form input[type="text"]::placeholder,
.feedback-form input[type="email"]::placeholder {
  color: #999999;
}

.feedback-form textarea {
  width: 428px;
  padding: 8px 15px 25px 15px;
}


.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover,
.feedback-form textarea:hover {
  -webkit-box-shadow: inset 0 0 0 1px #c7c6c5;
  box-shadow: inset 0 0 0 1px #c7c6c5;
  border-color: #c7c6c5;
}

.feedback-form input[type="text"]:active,
.feedback-form input[type="email"]:active,
.feedback-form textarea:active {
  -webkit-box-shadow: inset 0 0 0 1px #8fbdec;
  box-shadow: inset 0 0 0 1px #8fbdec;
  outline: none;
  border-color: #8fbdec;
}

.feedback-btn {
  float: right;
  margin-top: 20px;
  padding: 11px 25px;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 16px;
  width: 18px;
  height: 17px;
  border: none;
  background-color: transparent;
}

.close-btn::before {
  content: "";
  width: 18px;
  height: 3px;
  position: absolute;
  top: 6px;
  left: -1px;
  background-color: #231f20;
  transform: rotate(45deg);
}

.close-btn::after {
  content: "";
  width: 18px;
  height: 3px;
  position: absolute;
  top: 6px;
  left: -1px;
  background-color: #231f20;
  transform: rotate(-45deg);
}
