body {
  margin: 0;
  padding: 0;
  
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.site-navigation,
.user-navigation,
.catalog-menu {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.main-menu {
  line-height: 18px;
  font-weight: 700;
} 

.main-menu > a:hover,
.main-menu > a:focus {
  color: #333333;
  background-color: #f7f6f3;
}

.main-menu > a:active {
  color: #333333;
  background-color: #ededed;
}

.catalog-menu a {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  background-color: #f8f7f4;
}

.catalog-menu li:first-of-type {
  font-weight: 700;
}

.catalog-menu a:hover,
.catalog-menu a:focus{
  background-color: #fbded7;
}

.catalog-menu a:active {
  background-color: #d07058;
}

.site-navigation-current a{
  color: #ffffff;
  background-color: #d07058;
}

.site-navigation-current a:hover,
.site-navigation-current a:focus {
  color: #ffffff;
  background-color: #d07058;
}

.user-navigation a{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color: #a1b4a9;
}

.search a:hover,
.search a:focus,
.login-link a:hover,
.login-link a:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.basket a:hover,
.basket a:focus {
  color: #323232;
  background-color: #f7f6f3;
}

.basket-active a {
  color: #323232;
  background-color: #f7f6f3;
}

.search-form,
.login-link-form {
  color: #323232;
  background-color: #f8f7f4;
}

.btn {
  font: inherit;
  color: #ffffff;
  background-color: #e84d37;
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
  width: 100px;
  height: 44px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: none;
  padding: 10px;
  /* уточнить размеры и тень*/
}

.btn:hover,
.btn:focus {
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background-color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
  background-image: linear-gradient(90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
}

.btn:active {
  background-image: linear-gradient(90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.login-link-form a {
  color: #323232;
}

.show-hover:hover,
.show-hover:focus,
.show-hover:active {
  color: #e84d37;
}

.basket-table {
  color: #323232;
  background-color: #f8f7f4;
  font-size: 13px;
  line-height: 16px;
}

.basket-table-price {
  color: #999999;
}

.basket-table-sum {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.tel {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
}

.tel b {
  font-size: 22px;
  line-height: 24px;
}

.slider {
  list-style: none;
}

.slider-text {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  text-align: center;
} 

.slider-item:nth-of-type(1) {
  background-color: #849d8f;
  background-image: url("/img-png/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  height: 650px; /*уточнить*/
}

.slider-item:nth-of-type(2) {
  background-color: #8996a6;
  background-image: url("/img-png/slider-2.png");
  background-repeat: no-repeat;
  background-position: top center;
  height: 650px; /*уточнить*/
}

.slider-item:nth-of-type(3) {
  background-color: #9d8b84;
  background-image: url("/img-png/slider-3.png");
  background-repeat: no-repeat;
  background-position: top center;
  height: 650px; /*уточнить*/
}

.slider-btn {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.promo ul {
  list-style: none;
}

.promo-item:nth-of-type(1) {
  background-color: #761a2d;
  background-image: url("/img-png/raspberry.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.promo-item:nth-of-type(2) {
  background-color: #492e21;
  background-image: url("/img-png/choco.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.promo-item h3{
  font-size: 35px;
  line-height: 41px;
  font-weight: 700; 
}

.promo-item p{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700; 
}

.promo-item .promo-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700; 
}

.promo-item .promo-btn:hover,
.promo-item .promo-btn:active {
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.catalog-items {
  list-style: none;
}

.catalog-items h3 {
  font-weight: 500;
  text-align: center;
}

.catalog-items b{
  font-size: 45px;
  line-height: 45px;
  font-weight: 700; 
}

.catalog-items span{
  font-size: 30px;
  line-height: 45px;
  font-weight: 700; 
}

.catalog-items li:hover,
.catalog-items li:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.features {
  color: #323232;
  background-color: #ede1c5;
  background-image: url("/img-jpg/waffle.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.features > p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.blog {
  color: #323232;
  background-color: #ffffff;
  background-image: url("/img-png/strawberry.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.blog a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.spam {
  color: #5a5a5a;
  background-color: #f8f7f4;
  background-image: url("/img-svg/spam.svg");
  background-repeat: no-repeat;
  background-position: top center;
}
  
  /* Разобраться
  background-image: repeating-linear-gradient(#f8f7f4 10px, #92cdff 10px, #f8f7f4 20px, #fe9e90 20px, #f8f7f4 30px);
  */

.contact {
  color: #323232;
  background-color: #fefefe;
}

.contact p {
  font-size: 14px;
  line-height: 20px;
}

.contact b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

/*стилизация особенностей страницы каталога Сливочное*/
.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

.fat-block,
.filler-block {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-filter {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
}

.btn-filter:hover,
.btn-filter:focus {
  color: #323232;
  background-color: #fbfcfb;
}

.btn-filter:active {
  color: #323232;
  background-color: #eaeaea;
}

.filter .sort {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter label,
.filter legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #ffffff;
  font-weight: 500;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
  color: #323232;
}

.pagination-item-curent a{
  color: #323232;
  background-color: #ffffff;
}
/*окончание стилизации особенностей страницы каталога Сливочное*/

.feedback-form {
  color: #323232;
  background-color: #f8f7f4;
}

.feedback-form p {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.footer-social,
.footer-menu {
  list-style: none;
}

.footer-menu a {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
}

.footer-menu li:nth-of-type(1){
  font-weight: 700;
}

.show-hover-white:hover,
.show-hover-white:focus,
.show-hover-white:active {
  color: #ffbc9e;
}

.footer-copyright {
  color: #fefefe;
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright a {
  color: #fefefe;
}